
.main_block{
	border: 1px solid black;
	width: 530px;
	height: 280px;
	margin-top: 30px;
}
.row_block1{
	height: 110px;
}
.row_block2{
	height: 60px;
}
.block {
	border: 1px solid black;
}
@media (max-width: 576px) {
	.block {
		background-color: #45aed8;
	}
}
@media (min-width: 576px) {
	.block {
		background-color: #624d68;
	}
}
@media (min-width: 768px) {
	.block {
		background-color: #25706a;
	}
}
@media (min-width: 992px) {
	.block {
		background-color: #975085;
	}
}
@media (min-width: 1200px) {
	.block {
		background-color: #e4edee;
	}
}

